html,
#root {
  height: 100%;
  margin: 0;
  max-height: 100vh;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fad998;
  user-select: none;
  font-family: "Pixelify Sans", serif;
}

.loading {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #fad998;
  font-family: "Pixelify Sans", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
}


